html {
    font-family: monospace;
    font-size: calc(1em + .5vw);
    line-height: 1.5;
    margin: auto;
    max-width: 60ch;
    padding: 3em 1em;
}

:is(h1,h2,h3,h4,h5,h6) {
    margin: 2em 0 1em;
}
  
:is(p,ol,ul) {
    color: #1d1d1d;
    margin-bottom: 1em;
}

.post-meta {
    text-align: right;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

blockquote {
    border: thin solid black;
    border-left:.25em solid black;
    font-style: italic;
    padding: 1rem;
& p {
    margin: 0;
}}

pre {
    overflow-x: auto;
    padding: 1rem;
}

pre, code {
    background: #e0e0e0;
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

.table-wrapper {
    overflow-x: auto;
}
